%br
.jumbotron
  %h1 Welcome!!1
  %p{class: "lead"}
    I'm a web application developer residing in Jacksonville Beach, FL, USA, Earth.
    I enjoy sushi, rollerblading, and long walks on the floor to the kitchen and back.
    The code for this site is
    = succeed '.' do
      = link_to 'here', 'https://github.com/alienfungi/zanes_site'
.row
  .col-md-8.col-xs-12
    = image_tag 'link.jpg', class: 'img-responsive', title: "This is Link. He's clearly very busy saving princess Zelda from Ganon."
  .col-md-4.col-xs-12
    %h2 Cool Stuff
    %ul
      %li= link_to 'Aardwolf Mud', 'http://www.aardwolf.com'
      %li= link_to 'Code School', 'https://www.codeschool.com/'
      %li= link_to 'Colemak', 'http://colemak.com/'
      %li
        Dvorak Keyboard Layout
        %ul
          %li= link_to 'what is it', 'http://en.wikipedia.org/wiki/Dvorak_Simplified_Keyboard'
          %li= link_to 'learning it', 'http://learn.dvorak.nl/'
          %li= link_to 'programmer variant', 'http://www.kaufmann.no/roland/dvorak/'
      %li= link_to 'John Dies at the End', 'http://johndiesattheend.com/'
      %li= link_to 'Kinesis Advantage', 'http://www.kinesis-ergo.com/shop/advantage-pro-for-pc-mac/'
      %li= link_to 'Mother Fucking Website', 'http://motherfuckingwebsite.com/'
      %li= link_to 'Ubuntu', 'http://www.ubuntu.com/'
      %li= link_to 'Zeitgeist Movement', 'http://thezeitgeistmovement.com/'
    %h2 Links to Me
    %ul
      %li= link_to 'Bitbucket', 'https://bitbucket.org/pzwoodfin'
      %li= link_to 'Facebook', 'https://www.facebook.com/pzwoodfin'
      %li= link_to 'GitHub', 'https://github.com/alienfungi'
      %li= link_to 'LinkedIn', 'https://www.linkedin.com/in/zanewoodfin/'
      %li= link_to 'Twitter', 'https://twitter.com/alienfungi'
